.footer{
  &__copyright {
    font-weight: 500;
    font-size: 12px;
    color: #AEB8D0;
    padding: 42px 0;
    text-align: center;
  }
}
//====================================================================================================

//====================================================================================================

