//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Quicksand";
$fontSize: 15;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1020;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #8D96BD;
$lightBlueColor: #D8E3FE;
$blueColor: #3D4F9F;


//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__intro-slider {
		background: #F4F7FF;
	}

	&__customers {
	}

	&__manage {
		background: #F4F7FF;
	}

	&__features {
	}

	&__stats {
	}

	&__blog {
		background: #F5F8FF;
	}

	&__quotes {
		background: linear-gradient(180deg, #EAF0FF 0%, #F6F8FF 100%);
	}

	&__faq {
	}

	&__get-started{
		background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
	}
}
//===================================================================================================================================
.slider-intro {
	padding-top: 170px;
	@include adaptiv-value('padding-top', 170, 100, 1);
	@include adaptiv-value('padding-bottom', 30, 15, 1);

	&__dots{
		display: flex;
		justify-content: center;
	}

	&__body {

	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 372px;
		position: relative;
		overflow: hidden;
	}
}
.intro-slide {
	&__body {
		@include adaptiv-value('padding-bottom', 90, 25, 1);
		padding-left: 15px;
		padding-right: 15px;
		max-width: 613px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__header-text {
		pointer-events: none;
		margin-bottom: 1em;
	}

	&__title {
		pointer-events: none;
	}

	&__text {
		pointer-events: none;
		margin-bottom: 20/15 * 1em;
		max-width: 502px;
	}

	&__play {
		cursor: pointer;
		height: 52px;
		width: 52px;
		background: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		color: $blueColor;
		@media (any-hover: hover) {
			&:hover {
				background: $blueColor;
				color: #fff;
			}
		}
	}

	&__link {
		position: absolute;
		font-size: 11px;
		color: inherit;
		line-height: 100%;
	}
}
//===================================================================================================================================
.customers {
	@include adaptiv-value('padding-top', 58, 20, 1);
	@include adaptiv-value('padding-bottom', 58, 20, 1);

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $md3+px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&__link {
		color: #D6DAE5;
		font-size: 32px;
		transition: color 0.3s ease 0s;
		margin-bottom: 1em;
		@media (any-hover: hover) {
			&:hover {
				color: #5982E7;
			}
		}
		@media (min-width: $md3+px) {
			font-size: 28px;
		}
	}
}
//===================================================================================================================================
.manage {
	@include adaptiv-value('padding-top', 170, 60, 1);
	@include adaptiv-value('padding-bottom', 100, 10, 1);

	&__body {
		@media (min-width: $md3+px) {
			display: flex;
		}

	}

	&__column {
		display: flex;
		&_left {
			justify-content: center;

			@media (min-width: $md3+px) {
				flex: 0 1 50%;
				justify-content: flex-start;
			}
			@media (max-width: $md3+px) {
				margin-bottom: 20px;
			}
		}

		&_right {
			@media (min-width: $md3+px) {
				flex-grow: 1;
				justify-content: flex-start;
				margin-right: -20%;
			}

		}
	}

	&__image {
		padding-bottom: 75%;
		flex: 1 1 auto;
	}
}

.text-content {
	max-width: 413px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: $md3+px) {
		align-items: flex-start;
	}
	&__header-text {
		margin-bottom: 27/10 * 1em;
	}

	&__title {
		margin-bottom: 27/48 * 1em;
	}

	&__text {
		margin-bottom: 50/15 * 1em;
		text-align: left;
	}

	&__buttons {
		display: flex;
	}

	&__button {
		color: #ADB4D2;
		border: 1px solid #ADB4D2;
		width: 129px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		&::before {
			transform: translateY(23%);
			margin-left: 5px;
			font-size: 7px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #0050F8;
				color: #fff;
			}
		}
	}
}
//===================================================================================================================================
.features {
	@include adaptiv-value('padding-top', 171, 60, 1);
	@include adaptiv-value('padding-bottom', 171, 60, 1);
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header-text {
		margin-bottom: 20/12 * 1em;
	}

	&__title {

	}

	&__buttons {
		display: flex;
		align-self: stretch;
		justify-content: center;
	}

	&__button-item {
		&_red {
			background: #FFD7D7;
			color: #D43F3F;
			@media (any-hover: hover) {
				&:hover {
					background: #D43F3F;
					color: #FFF;
				}
			}
		}

		&_blue {
			background: #D2E1FF;
			@media (any-hover: hover) {
				&:hover {
					background: #0050F8;
					color: #FFF;
				}
			}
		}
	}

	&__button-separator {
		flex: 0 0 111px;
		text-transform: uppercase;
		color: #ADB3CB;
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
		font-size: 11px;
		line-height: 19/11 * 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		&::before, &::after {
			content: '';
			display: inline-block;
			height: 1px;
			width: 15px;
			background-color: #DAE4FE;
			@media (max-width: $md4+px) {
				display: none;
			}
		}
		@media (max-width: $md4+px) {
			flex: 0 0 60px;
		}

	}

}

.list-features {
	@include adaptiv-value('padding-top', 91, 30, 1);
	@include adaptiv-value('padding-bottom', 91, 30, 1);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__item {
		flex: 0 0 190px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__separator {
		display: block;
		height: 1px;
		width: 28px;
		background-color: #DAE4FE;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
}

.feature {
	padding: 0 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	&__button {
		width: 69px;
		height: 69px;
		border-radius: 50%;
		background: #F1F5FF;
		color: #4074F8;
		font-size: 20px;
		transition: all .3s ease 0s;
		margin-bottom: 30/20 * 1em;
		@media (any-hover: hover) {
			&:hover {
				background: #4074F8;
				color: #FFF;
			}
		}
	}
	&__title {
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		line-height: 24/14 * 100%;
		color: #4074F8;
		margin-bottom: 25px;
	}

	&__text {
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
		font-size: 11px;
		line-height: 19 / 11 * 100%;
		text-align: center;
	}

}

//===================================================================================================================================
.stats {
	&__body {
		@media (min-width: $md3+px) {
			display: flex;
		}
	}
	&__column {
		@include adaptiv-value('padding-top', 66, 20, 1);
		@include adaptiv-value('padding-bottom', 66, 20, 1);
		flex: 0 0 50%;
		&_left {
			background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
			@media (min-width: $md3+px) {
				display: flex;
				justify-content: flex-end;
				@include adaptiv-value('padding-right', 90, 40, 1);
			}
		}

		&_right {
			background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
			@media (min-width: $md3+px) {
				display: flex;
				justify-content: flex-start;
				@include adaptiv-value('padding-left', 90, 40, 1);
			}
		}
	}
	&__item {
		flex: 0 1 260px;
	}
}

.item-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__image {
		width: 67px;
		height: 67px;
		margin-bottom: 24px;
	}

	&__numbers {
		@include adaptiv-value('font-size', 48, 36, 1);
		margin-bottom: 27/48 * 1em;
	}

	&__text {
		@include adaptiv-value('font-size', 18, 14, 1);
	}

	&_left {
		color: #fff;
		@media (min-width: $md3+px) {
			text-align: right;
			align-items: flex-end;
		}
	}

	&_right {
		color: #5E80FF;
		@media (min-width: $md3+px) {
			text-align: left;
			align-items: flex-start;
		}
	}

}
//===================================================================================================================================
.blog {
	@include adaptiv-value('padding-top', 104, 40, 1);
	@include adaptiv-value('padding-bottom', 104, 40, 1);

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 15px;
	}
	&__header-text {
		margin-bottom: 20px;
	}

	&__title {
		margin-bottom: 70 / 24 * 1em;
	}

	&__slider {
		margin: 0 auto;
		max-width: 90vw;
		@media (min-width: $md2+px) {
			max-width: 958px;
		}
	}
}

.slider-blog {
	min-width: 0;
	background-color: #fff;
	position: relative;
	@include adaptiv-value('padding-top', 64, 35, 1);
	@include adaptiv-value('padding-bottom', 64, 35, 1);
	@include adaptiv-value('padding-left', 35, 10, 1);
	@include adaptiv-value('padding-right', 35, 10, 1);

	&__slide {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}


	&__column {
		&_images {
			flex: 1 1 407px;
			margin-bottom: 15px;
		}
		&_text {
			flex: 1 1 407px;
		}
	}

	&__title {
		@include adaptiv-value('font-size', 36, 25, 1);
		line-height: 45 / 36 * 100%;
		margin-bottom: 32 / 36 * 1em;
		color: #3D4F9F;
	}

	&__text {
		line-height: 26 / 14 * 100%;
		margin-bottom: 32 / 14 * 1em;
	}

	&__read-button {
		width: 113px;
		background: #D2E1FF;
		@media (any-hover: hover) {
			&:hover {
				background: #0050F8;
				color: #FFF;
			}
		}
	}

	&__link {
		display: inline-block;
		color: #A6B6DA;
		font-weight: 700;
		line-height: 16 / 13 * 100%;
		padding: 13px 15px;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #0d0a0a;
			}
		}
	}

	&__dots {
		flex-wrap: nowrap;
		@include adaptiv-value('margin-top', 104, 20, 1);
	}

	&__arrows {
		display: none;
	}
}

.photo-slider {
	display: flex;
	&__column {
		&>.photo-slider__image {
			padding-bottom: 100%;
			border-radius: 5px;
			overflow: hidden;
			&:not(:last-child) {
				margin-bottom: 13px;
			}
		}
		&_big {
			flex: 0 0 100%;
			@media (min-width: $md4+px) {
				margin-right: 10px;
				flex: 0 0 267px;
			}
		}
		&_small {
			flex: 0 0 126px;
			display: flex;
			flex-direction: column;
			@media (max-width: $md4+px) {
				display: none;
			}
		}
	}

	&__image {
		@media (any-hover: hover) {
			&:hover {
				.search-label {
					opacity: 1;
					visibility: visible;
					img {
						filter: grayscale(0);
					}
				}
				img {
					transition: all 0.5s ease 0s;
					filter: grayscale(1);
				}
			}
		}
	}
}
.search-label {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	width: 65px;
	background-color: #ffffff;
	border-radius: 50%;
	color: inherit;
	font-size: 17px;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		opacity: 0;
		visibility: hidden;
	}
}
//===================================================================================================================================
.quotes {
	@include adaptiv-value('padding-top', 110, 25, 1);
	@include adaptiv-value('padding-bottom', 110, 25, 1);
	&__container {
		@media (min-width: $md2+px) {
			display: flex;
		}
	}

	&__content {
		z-index: 5;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0 0 473/990 * 100%;
		padding-bottom: 20px;
		@media (min-width: $md2+px) {
			@include adaptiv-value('padding-right', 132, 1, 1);
			align-items: flex-start;
		}
	}

	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-start;
	}

	&__header-text {
		margin-bottom: 31/10 * 1em;
	}

	&__title {
		@include adaptiv-value('font-size', 36, 25, 1);
		line-height: 45/36 * 100%;
		margin-bottom: 14/36 * 1em;
	}

	&__text {
		max-width: 323px;
		font-weight: 600;
		text-align: center;
		line-height: 22/12 * 100%;
		@media (min-width: $md2+px) {
			text-align: left;
		}
	}

}
.swiper-slide-active.slider-quotes__slide {
	opacity: 1;
}

.slider-quotes {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		width: 100vw;
		left: 0;
		background: linear-gradient(180deg, #ECF1FD 0%, #f3f7ff 100%);
		z-index: 2;
		transform: translate(-100%, 0px);
	}
	&__body {
		overflow: visible;
		@include adaptiv-value('margin-bottom', 80, 40, 1);
	}

	&__slide {
		transition: opacity 0.5s ease 0s;
		opacity: 0.5;
		position: relative;
	}

	&__text {
		@include adaptiv-value('padding-top', 45, 20, 1);
		@include adaptiv-value('padding-right', 70, 25, 1);
		@include adaptiv-value('padding-bottom', 45, 40, 1);
		@include adaptiv-value('padding-left', 70, 25, 1);
		font-family: Roboto;
		line-height: 23/14 * 100%;
		padding: 45px 70px;
		background-color: #fff;
		color: #676F95;
	}

	&__dots {
		justify-content: center;
	}

	&__photo {
		position: absolute;
		height: 62px;
		width: 62px;
		border-radius: 50%;
		overflow: hidden;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
//===================================================================================================================================

.faq {
	&__body {
		@include adaptiv-value('padding-top', 176, 40, 1);
		@include adaptiv-value('padding-right', 70, 25, 1);
		@include adaptiv-value('padding-bottom', 176, 40, 1);
		@include adaptiv-value('padding-left', 70, 25, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header-text {
		margin-bottom: 20/10 * 1em;
	}

	&__title {
		margin-bottom: 30/24 * 1em;

	}

	&__spoiler {
		align-self: stretch;
	}
}

.spoiler-faq {
	&__block {
		padding: 17px 0 17px 17px;
		border-bottom: 1px solid #D8E3FE;

		&._active {
			.spoiler-faq__title {
				color: #495274;
				&:before {
					transform: rotate(-180deg);
				}
			}
		}
	}

	&__title {
		color: #8E96B7;
		font-weight: 700;
		padding: 15px;
		width: 100%;
		text-align: left;
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;
		&:before {
			font-size: 10px;
			margin-right: 20px;
		}
	}

	&__content {
		@include adaptiv-value('padding-left', 80, 0, 1);
		@media (min-width: $md3+px) {
			display: flex;
			align-items: center;
		}
	}
	&__text {
		font-family: Roboto;
		line-height: 26/14 * 100%;
		padding-right: 15px;
		padding-bottom: 15px;
	}

	&__button {
		background: #E8ECF4;
		color: inherit;
		padding: 13px 25px;
		flex: 1 1 350px;
	}
}

//===================================================================================================================================
.get-started {
	@include adaptiv-value('padding-top', 91, 25, 1);
	@include adaptiv-value('padding-bottom', 91, 25, 1);

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&__header-text {
		color: #fff;
		margin-bottom: 16/10 * 1em;
	}

	&__title {
		color: #fff;
		font-size: 48px;
		@include adaptiv-value('font-size', 48, 32, 1);
		margin-bottom: 28/48 * 1em;
		span {
			color: inherit;
		}
	}

	&__text {
		color: #fff;
		line-height: 28/15 * 100%;
		margin-bottom: 28/15 * 1em;
		max-width: 712px;
		text-align: center;
	}

	&__buttons {
		display: flex;
	}

	&__button {
		border: 1px solid #A0B4FF;
		color: #C7D3FF;
		@media (any-hover: hover) {
			&:hover {
				background-color: #FFF;
				color: #565F82;
			}
		}
	}

}
//===================================================================================================================================
.newsletter {
	@include adaptiv-value('padding-top', 118, 25, 1);
	@include adaptiv-value('padding-bottom', 118, 25, 1);

	&__body {
		padding: 0 10px;
		@media (min-width: $md3+px) {
			display: flex;
			justify-content: space-between;
		}
		@media (max-width: $md3+px) {
			@include adaptiv-value('padding-left', 70, 5, 1);
			@include adaptiv-value('padding-right', 70, 5, 1);
		}

	}

	&__content {
		margin-bottom: 14px;
		@media (min-width: $md3+px) {
			@include adaptiv-value('padding-right', 145, 1, 1);
			margin-bottom: 0;
		}

	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 22/18 * 100%;
		color: #3D4F9F;
		margin-bottom: 18px;
	}

	&__text {
		font-family: Roboto;
		line-height: 26/15 * 100%;
	}
}

.form-newsletter {
	&__item {
		@media (min-width: $md2+px) {
			display: flex;
		}
	}

	&__input {
		width: 100%;
		min-width: 279px;
		height: 60px;
		padding: 22px;
		background-color: #EFEFF7;
		color: #7A85AD;
		border-radius: 5px;
		font-weight: 700;
		margin-bottom: 14px;
		@media (min-width: $md2+px) {
			margin-right: 14px;
		}

	}

	&__button {
		color: #0050f8;
		background: #d2e1ff;
		min-width: 184px;
		height: 60px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #0050f8;
				color: #fff;
			}
		}
		@media (max-width: $md2+px) {
			width: 100%;
		}
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
