//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Quicksand";
$fontSize: 15;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1020;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #8D96BD;
$lightBlueColor: #D8E3FE;
$blueColor: #3D4F9F;


//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__intro-slider {
		background: #F4F7FF;
	}

	&__customers {
	}

	&__manage {
		background: #F4F7FF;
	}
}
//===================================================================================================================================
.slider-intro {
	padding-top: 170px;
	@include adaptiv-value('padding-top', 170, 100, 1);
	@include adaptiv-value('padding-bottom', 30, 15, 1);

	&__dots{
		display: flex;
		justify-content: center;
	}

	&__body {

	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 372px;
		position: relative;
		overflow: hidden;
	}
}
.intro-slide {
	&__body {
		@include adaptiv-value('padding-bottom', 90, 25, 1);
		padding-left: 15px;
		padding-right: 15px;
		max-width: 613px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__header-text {
		pointer-events: none;
		margin-bottom: 1em;
	}

	&__title {
		pointer-events: none;
	}

	&__text {
		pointer-events: none;
		margin-bottom: 20/15 * 1em;
		max-width: 502px;
	}

	&__play {
		cursor: pointer;
		height: 52px;
		width: 52px;
		background: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		color: $blueColor;
		@media (any-hover: hover) {
			&:hover {
				background: $blueColor;
				color: #fff;
			}
		}
	}

	&__link {
		position: absolute;
		font-size: 11px;
		color: inherit;
		line-height: 100%;
	}
}
//===================================================================================================================================
.customers {
	@include adaptiv-value('padding-top', 58, 20, 1);
	@include adaptiv-value('padding-bottom', 58, 20, 1);

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $md3+px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&__link {
		color: #D6DAE5;
		font-size: 37px;
		transition: color 0.3s ease 0s;
		margin-bottom: 1em;
		@media (any-hover: hover) {
			&:hover {
				color: #5982E7;
			}
		}
		@media (min-width: $md3+px) {
			font-size: 28px;
		}
	}
}
//===================================================================================================================================
.manage {
	@include adaptiv-value('padding-top', 170, 80, 1);
	@include adaptiv-value('padding-bottom', 170, 80, 1);

	&__body {
		padding: 0 15px;
		@media (min-width: $md3+px) {
			display: flex;
		}

	}

	&__column {
		display: flex;
		margin-bottom: 20px;
		@media (min-width: $md3+px) {
			flex: 1 1 50%;
		}
		&_left {
			justify-content: center;
			@media (min-width: $md3+px) {
				justify-content: flex-end;
			}
		}

		&_right {
			@media (min-width: $md3+px) {
				justify-content: flex-start;
			}

		}
	}

	&__image {
		padding-bottom: 75%;
		flex: 1 1 auto;
	}
}

.text-content {
	max-width: 413px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: $md3+px) {
		align-items: flex-start;
	}
	&__header-text {
		margin-bottom: 27/10 * 1em;
	}

	&__title {
		margin-bottom: 27/48 * 1em;
	}

	&__text {
		margin-bottom: 50/15 * 1em;
		text-align: left;
	}

	&__buttons {
		display: flex;
	}

	&__button {
		font-weight: 700;
		color: #ADB4D2;
		border: 1px solid #ADB4D2;
		border-radius: 2px;
		width: 129px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		&::before {
			transform: translateY(23%);
			margin-left: 5px;
			font-size: 7px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #0050F8;
				color: #fff;
			}
		}
	}
}
//===================================================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================
