//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Quicksand";
$fontSize: 15;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1020;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #8D96BD;
$lightBlueColor: #D8E3FE;
$blueColor: #3D4F9F;


//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__intro-slider {
		background: #F4F7FF;
	}

	&__customers {
	}

	&__manage {
		background: #F4F7FF;
	}

	&__features {
	}
}
//===================================================================================================================================
.slider-intro {
	padding-top: 170px;
	@include adaptiv-value('padding-top', 170, 100, 1);
	@include adaptiv-value('padding-bottom', 30, 15, 1);

	&__dots{
		display: flex;
		justify-content: center;
	}

	&__body {

	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 372px;
		position: relative;
		overflow: hidden;
	}
}
.intro-slide {
	&__body {
		@include adaptiv-value('padding-bottom', 90, 25, 1);
		padding-left: 15px;
		padding-right: 15px;
		max-width: 613px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__header-text {
		pointer-events: none;
		margin-bottom: 1em;
	}

	&__title {
		pointer-events: none;
	}

	&__text {
		pointer-events: none;
		margin-bottom: 20/15 * 1em;
		max-width: 502px;
	}

	&__play {
		cursor: pointer;
		height: 52px;
		width: 52px;
		background: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		color: $blueColor;
		@media (any-hover: hover) {
			&:hover {
				background: $blueColor;
				color: #fff;
			}
		}
	}

	&__link {
		position: absolute;
		font-size: 11px;
		color: inherit;
		line-height: 100%;
	}
}
//===================================================================================================================================
.customers {
	@include adaptiv-value('padding-top', 58, 20, 1);
	@include adaptiv-value('padding-bottom', 58, 20, 1);

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $md3+px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&__link {
		color: #D6DAE5;
		font-size: 32px;
		transition: color 0.3s ease 0s;
		margin-bottom: 1em;
		@media (any-hover: hover) {
			&:hover {
				color: #5982E7;
			}
		}
		@media (min-width: $md3+px) {
			font-size: 28px;
		}
	}
}
//===================================================================================================================================
.manage {
	@include adaptiv-value('padding-top', 170, 60, 1);
	@include adaptiv-value('padding-bottom', 100, 10, 1);

	&__body {
		@media (min-width: $md3+px) {
			display: flex;
		}

	}

	&__column {
		display: flex;
		&_left {
			justify-content: center;

			@media (min-width: $md3+px) {
				flex: 0 1 50%;
				justify-content: flex-start;
			}
			@media (max-width: $md3+px) {
				margin-bottom: 20px;
			}
		}

		&_right {
			@media (min-width: $md3+px) {
				flex-grow: 1;
				justify-content: flex-start;
				margin-right: -20%;
			}

		}
	}

	&__image {
		padding-bottom: 75%;
		flex: 1 1 auto;
	}
}

.text-content {
	max-width: 413px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: $md3+px) {
		align-items: flex-start;
	}
	&__header-text {
		margin-bottom: 27/10 * 1em;
	}

	&__title {
		margin-bottom: 27/48 * 1em;
	}

	&__text {
		margin-bottom: 50/15 * 1em;
		text-align: left;
	}

	&__buttons {
		display: flex;
	}

	&__button {
		font-weight: 700;
		color: #ADB4D2;
		border: 1px solid #ADB4D2;
		border-radius: 2px;
		width: 129px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		&::before {
			transform: translateY(23%);
			margin-left: 5px;
			font-size: 7px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #0050F8;
				color: #fff;
			}
		}
	}
}
//===================================================================================================================================
.features {
	@include adaptiv-value('padding-top', 171, 60, 1);
	@include adaptiv-value('padding-bottom', 171, 60, 1);
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__header-text {
		margin-bottom: 20/12 * 1em;
	}

	&__title {
		font-size: 24px;
		font-weight: 500;
		line-height: 30 / 24 * 100%;
		color: #3D4F9F
	}

	&__buttons {
		display: flex;
		align-self: stretch;
		justify-content: center;
	}

	&__button-item {
		font-size: 13px;
		font-weight: 700;
		transition: all .3s ease 0s;
		height: 43px;
		flex: 0 0 113px;
		border-radius: 2px;
		&_red {
			background: #FFD7D7;
			color: #D43F3F;
			@media (any-hover: hover) {
				&:hover {
					background: #D43F3F;
					color: #FFF;
				}
			}
		}

		&_blue {
			background: #D2E1FF;
			@media (any-hover: hover) {
				&:hover {
					background: #0050F8;
					color: #FFF;
				}
			}
		}
	}

	&__button-separator {
		flex: 0 0 111px;
		text-transform: uppercase;
		color: #ADB3CB;
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
		font-size: 11px;
		line-height: 19/11 * 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		&::before, &::after {
			content: '';
			display: inline-block;
			height: 1px;
			width: 15px;
			background-color: #DAE4FE;
			@media (max-width: $md4+px) {
				display: none;
			}
		}
		@media (max-width: $md4+px) {
			flex: 0 0 60px;
		}

	}

}

.list-features {
	@include adaptiv-value('padding-top', 91, 30, 1);
	@include adaptiv-value('padding-bottom', 91, 30, 1);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__item {
		flex: 0 0 190px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__separator {
		display: block;
		height: 1px;
		width: 28px;
		background-color: #DAE4FE;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
}

.feature {
	padding: 0 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	&__button {
		width: 69px;
		height: 69px;
		border-radius: 50%;
		background: #F1F5FF;
		color: #4074F8;
		font-size: 20px;
		transition: all .3s ease 0s;
		margin-bottom: 30/20 * 1em;
		@media (any-hover: hover) {
			&:hover {
				background: #4074F8;
				color: #FFF;
			}
		}
	}
	&__title {
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		line-height: 24/14 * 100%;
		color: #4074F8;
		margin-bottom: 25px;
	}

	&__text {
		font-family: "Open Sans", sans-serif;
		font-weight: 600;
		font-size: 11px;
		line-height: 19 / 11 * 100%;
		text-align: center;
	}

}




//===================================================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================
